---
import BaseLayout from './BaseLayout.astro';
import { Image } from 'astro:assets';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
    <div class="post-container">
        <div class="post-content">
            <slot />
        </div>
    </div>
</BaseLayout>